.update-availability-fixed {
  @include flex-wrap();
}

.option {
  @include flex();
  @include align-items-center();
  margin-top: 20px;

  .uni-dropdown {
    max-width: 180px;
    margin-left: 24px;
  }
}
