.update-availability-standard-unitary {
  .blocked-periods {
    &__none {
      font-size: em(20px);
      margin: 20px 0;
    }

    &__add {
      margin-top: 20px;
    }
  }

  .blocked-period {
    @include flex();
    @include align-items-center();
    margin-top: 20px;

    & > div {
      margin-left: 20px;

      &:first-child {
        margin-left: 0;
      }
    }

    &__delete {
      margin-left: 20px;
    }
  }

  svg {
    margin-left: 20px;
    width: 20px;
  }

  .ember-power-calendar {
    position: absolute;
    background-color: color('background');
    z-index: 1;
    border: 1px solid color('borders');
    box-shadow: 0 0 10px color('borders');
  }
}
