$medium-color: #7fcf98;
$uniplaces-none: #ff7473;

$low-color: color('pill', 'warning');
$past-color: color('borders', 'gallery-item');

$availabilities: (
  medium: $medium-color,
  none: $uniplaces-none,
  low: $low-color,
  past: $past-color
);

.update-availability-standard {
  &__controls {
    @include flex();
    @include align-items-center();
    @include justify-content-center();

    svg {
      width: 8px;
    }

    &__year {
      margin: 10px 40px;
    }
  }

  &__availabilities {
    @include flex();
    @include flex-wrap();
  }

  &__change-availabilities {
    @include flex();

    & > * {
      margin: 20px 10px;
    }
  }

  .option {
    @include column(3);

    & > div {
      margin: 10px;
    }

    &--medium {
      .ember-power-select-option {
        &[data-option-index="0"] {
          background: color('dropdown', 'item-hover') !important;
          color: color('primary', 'disabled') !important;
          cursor: default;
        }
      }
    }

    &--low {
      .ember-power-select-option {
        &[data-option-index="1"] {
          background: color('dropdown', 'item-hover') !important;
          color: color('primary', 'disabled') !important;
          cursor: default;
        }
      }
    }

    &--none {
      .ember-power-select-option {
        &[data-option-index="2"] {
          background: color('dropdown', 'item-hover') !important;
          color: color('primary', 'disabled') !important;
          cursor: default;
        }
      }
    }
  }

  .ember-power-select-placeholder {
    font-size: 14px;
  }

  .ember-power-select-trigger {
    &[aria-disabled=true] {
      background: color('borders', 'light');
      cursor: not-allowed;
    }
  }

  .ember-power-select-trigger {
    line-height: 2.4;
    padding-left: 10px;
    border-width: 2px;
    border-style: solid;
    border-radius: 0;
    outline: none;
    cursor: pointer;
  }

  .ember-power-select-status-icon {
    right: 10px;
  }

  .ember-power-select-placeholder {
    font-weight: 500;
  }

  .ember-power-select-options {
    .ember-power-select-option {
      font-size: 12px;
      padding: 8px;

      &:hover {
        background: white;
        color: color('text', 'header');
      }
    }

    [aria-current="true"] {
      background: white;
      color: color('text', 'header');
    }
  }
}

@each $name, $color in $availabilities {
  .option--#{$name} {
    .ember-power-select-placeholder {
      color: $color;
    }

    .ember-power-select-trigger, .ember-power-select-dropdown {
      border-color: color('borders', 'gallery-item');
      border-width: 2px;
    }
  }
}
