{{#uni-main-photo-picker
  title="Lorem ipsum dolor"
  photos=photos
  mainPhotoUrl=mainPhotoUrl
as |photo|}}
  <div class="uni-image-gallery__wrapper__item__main {{if (eq mainPhotoUrl photo.url) "uni-image-gallery__wrapper__item__main--selected"}}" {{action "setAsMainPhoto" photo}}>
    {{svg-jar (i "main-photo-${type}" type=(if (eq mainPhotoUrl photo.url) "on" "off"))}}
    Cover Photo
  </div>
{{/uni-main-photo-picker}}
