html,
body {
    width: 100%;
    min-height: 100%;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    margin: 10px 20px;
}

.code-snippet {
  margin: 15px 0;
  font-family: monospace;
}

.tab {
  padding-left: 10px;
}
