html,
body {
  width: 100%;
  min-height: 100%;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  margin: 10px 0;
  -webkit-font-smoothing: antialiased;
}

.code-snippet {
  margin: 15px 0;
  font-family: monospace;
}

.tab {
  padding-left: 10px;
}

.flex-wrapper {
  display: flex;
  align-items: left;
  justify-content: left;

  .uni-button,
  .uni-input-container {
    margin-right: 20px;
  }
}

.uni-title {
  margin-bottom: 15px;
}

.uni-dropdown {
  max-width: 406px;
}

@import "ember-power-calendar";
