html,
body {
  width: 100%;
  min-height: 100%;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  margin: 10px 0;
  -webkit-font-smoothing: antialiased;
}

.code-snippet {
  margin: 15px 0;
  font-family: monospace;
}

.component {
  padding: 20px;
}

.description {
  padding: 18px 0;
  line-height: 1.2;
}

.tab {
  padding-left: 10px;
}

.flex-wrapper {
  display: flex;
  align-items: left;
  justify-content: left;

  .uni-button,
  .uni-input-container {
    margin-right: 20px;
  }
}

.uni-title {
  margin-bottom: 15px;
}

.uni-dropdown {
  max-width: 406px;
}

.uni-mobile-number {
  margin-bottom: 0;
}

.uni-title--spaced {
  padding: 20px 20px 0;
  font-size: 30px;
}

.uni-input-price {
  margin: 0;
  max-width: 300px;
}

.uni-mobile-number {
  margin: 0;

  input {
    max-width: 175px;
  }
}

@import "ember-power-calendar";
