.uni-input {
  @include input();

  & + .uni-tooltip--alternative {
    @include breakpoint("medium") {
      left: 0;
      top: calc(100% + 12px);
      min-width: 60%;
      max-width: 80%;
      width: auto;

      .uni-tooltip__text {
        width: auto;
        left: 0;
        box-shadow: 0 8px 10px 0 rgba(31, 36, 50, 0.45);

        &:before {
          top: -10px;
          transform: rotate(90deg);
          left: 5px;
        }
      }
    }
  }
}

.uni-input-tooltip-container {
  position: relative;
  display: inline-block;
}
