.uni-header {
    @include header();

    svg {
        width: 100%;
        height: auto;
    }

    &__wrapper {
      @include justify-content-start();

      svg {
        height: 33px;
        width: 140px;
      }
    }

    &__nav__button a {
      color: color('text', 'header');
      text-decoration: none;

      &:hover {
        color: color('primary');
      }
    }

    &__nav__dropdown {
        z-index: 1;
    }
}
