.uni-button-dropdown {
    position: relative;

    &--active {
        .uni-button-dropdown__list {
            display: block;
        }

        .uni-button-dropdown__button {
            &:before {
                transform: rotate(45deg);
            }

            &:after {
                transform: rotate(-45deg);
            }
        }
    }

    &__button {
        @include button();

        &:before,
        &:after {
          content: " ";
          position: absolute;
          display: block;
          width: 6px;
          height: 2px;
          top: calc(50% + 1px);
          right: 8px;
          background-color: #545d69;
          transform: rotate(-45deg);
          will-change: transform;
      }

      &:after {
          right: 11px;
          transform: rotate(45deg);
      }
    }

    &__list {
        position: absolute;
        display: none;
        width: 248px;
        padding: 16px 0;
        top: calc(100% + 11px);
        right: 8px;
        will-change: display;
        backface-visibility: hidden;
        background-color: color("background");
        box-shadow: 0 16px 18px 0 rgba(31, 36, 50, 0.32);
        border: solid 1px #ccd2d4;
        border-radius: 2px;

        &:before,
        &:after {
            content: "";
            position: absolute;
            display: block;
            width: 0;
            height: 0;
            top: -7px;
            right: 16px;
            z-index: 2;
            border-bottom: 8px solid color("dropdown", "background");
            border-left: 8px solid transparent;
            border-right: 8px solid transparent;
        }

        &:after {
            top: -8px;
            z-index: 1;
            border-bottom: 8px solid #ccd2d4;
        }

        &__item {
            @include font("IntervalNextReg");
            position: relative;
            display: block;
            width: 100%;
            height: 32px;
            line-height: 32px;
            padding: 0 27px;
            font-size: em(16px);
            color: #545d69;

            &:hover,
            &--active {
                cursor: pointer;
                color: #00222f;

                &:before {
                    content: " ";
                    position: absolute;
                    display: block;
                    left: 0;
                    top: 0;
                    width: 3px;
                    height: 100%;
                    background-color: color('primary');
                }
            }
        }
    }
}
