.uni-dropdown {
  @include dropdown();

  &--absolute {
    .uni-dropdown__wrapper {
      position: absolute;
      z-index: 1;
    }
  }

  &--svg {
    .uni-dropdown__button {
      @include flex();
      @include space-between();
      @include align-items-center();
      padding-right: 40px;
    }
  }

  &__svg-group {
    @include flex();
    height: 18px;

    svg {
      margin-left: 4px;
      height: 100%;
    }
  }
}
