.uni-autocomplete {
  @include flex();
  @include flex-wrap();
  @include column(6);

  input {
    @include column(12);
    background: transparent;
  }

  &__placeholder {
    @include input();
    padding-left: 22px;
    position: absolute;
    line-height: 56px;
    color: color("input", "placeholder");
  }
}

.options {
  @include column(12);
  max-height: 210px;
  list-style-type: none;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  overflow-y: scroll;

  .option {
    padding: 15px 15px;
    border: 0 solid color('borders', 'light');
    border-width: 0 1px 1px 1px;

    &--highlighted {
      background-color: color('primary', 'translucent');
    }
  }
}
