.uni-radio-button {
  @include radio-button();
  cursor: pointer;

  &__wrapper {
    @include flex();
    @include align-items-center();
    width: 100%;
  }

  @include breakpoint(small) {
    width: 100%;
    padding: 20px;

    input {
      display: none;
    }

    label {
      width: 100%;
      cursor: pointer;
    }
  }
}

.uni-input-container {
  @include breakpoint(small) {
    padding: 0;
  }
}
