$input-height: 40px;
$datepicker-safe-margin: 16px;

.uni-datepicker-input {
  position: relative;

  &__label {
    @include font("IntervalNextReg");
    display: inline-block;
    font-size: em(16px);
    width: 100%;
    margin-bottom: 7px;
    margin-left: 2px;
  }

  &__wrapper {
    position: relative;
    width: auto;

    input {
      width: 100%;
      height: $input-height;
      margin-right: 0;
      padding-left: 32px;
      font-size: em(16px);
    }

    &__icon {
      width: 22px;
      height: 100%;
      position: absolute;
      top: calc(50% - 8px);
      left: 8px;
      pointer-events: none;

      svg {
        width: 22px;

        path {
          fill: color("primary") !important;
        }
      }
    }
  }

  .uni-datepicker {
    position: absolute;
    top: #{$input-height + $datepicker-safe-margin};
    z-index: 10;
    background: color("primary", "highlight");
    box-shadow: 0 8px 16px 0 rgba(130, 141, 147, 0.35);
    padding: 24px;

    &.show-above {
      position: absolute;
      top: auto;
      bottom: $input-height + $datepicker-safe-margin;
      background-color: color("primary", "highlight");
    }
  }
}
