.uni-modal {
  @include modal();
  position: relative;

  &__wrapper {
    position: relative;
    display: block;
    max-height: 100%;
    height: auto;
    padding: 26px;
    background-color: color('background', 'modal');
  }

  &__header {
    @include flex();
    @include space-between();
    text-align: left;
  }

  &__close-button svg {
    width: 20px;
    height: 20px;
    fill: color('text', 'close');
  }

  .content {
    margin: 30px 0;
    max-width: columns(8);
  }

  .controls {
    @include flex();
    @include align-items-center();
  }

  .separator {
    height: 2px;
    margin-top: 10px;
    background-color: color('borders', 'primary');
    opacity: 0.5;
  }

  .controls > * {
    margin-right: 20px;
  }
}
