.uni-signup {
    @include signup();

    &__title {
      @include flex();
      @include align-items-center();

      &__back svg {
        height: 20px;
        width: 20px;
        margin-right: 10px;
      }
    }

    &__text {
        line-height: 20px;
    }

    &__button {
        outline: none;

        &:hover {
            cursor: pointer;
        }
    }
}
