.uni-header {
    @include header();

    svg {
        width: 100%;
        height: auto;
    }

    &__wrapper {
      svg {
        height: 33px;
        width: 140px;
      }
    }

    &__nav__dropdown {
        z-index: 1;
    }
}
