$cell-size: 40px;
$cell-border-color: #eaebec;
$day-color: #3d4a52;
$disabled-background-color: #f3f3f4;
$text-main-color: #161e22;

.uni-datepicker {
  .ember-power-calendar {
    @include ember-power-calendar($cell-size: $cell-size, $cell-with-spacing-width: 40px);
    max-width: 325px;

    .disabled:hover {
      pointer-events: none;
    }

    .ember-power-calendar-day-grid {
      width: 280px;
    }

    &-nav {
      margin-bottom: 23px;

      &-control {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        border: 1px solid $cell-border-color !important;
        border-radius: 50%;
        background-color: color("primary", "highlight") !important;
        cursor: pointer;

        &:hover {
          border: 1px solid #caced1 !important;
        }

        &:focus {
          transform: scale(1);
        }

        svg {
          width: 6px;
          height: auto;
        }

        &.disabled {
          opacity: 0.4;
          pointer-events: none;
        }

        &:not(.disabled) {
          background-color: color('calendar', 'button-bg');

          svg {
            fill: color('background', 'negative');
          }
        }
      }

      &-title {
        @include font("IntervalNextMed");
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: em(16px);
        color: $text-main-color;
      }
    }

    &-day {
      @include font("IntervalNextReg");
      font-size: em(13px);
      color: $day-color;
      cursor: pointer;

      &--focused {
        box-shadow: none !important;
      }
    }

    &-day--current-month {
      background-color: transparent !important;
      border-right: 1px solid $cell-border-color;

      &:disabled {
        background-color: $disabled-background-color !important;
        color: #dcdfe1 !important;
        opacity: 1 !important;
        cursor: default;

        &:hover {
          &:after {
            content: none !important;
          }
        }
      }
    }

    &-weekday {
      @include font("IntervalNextBook");
      font-size: em(10px);
      color: $day-color;
    }

    .ember-power-calendar-week {
      height: 40px;

      &:not(:first-of-type) {
        border-top: 1px solid $cell-border-color;
      }

      &:first-child {
        .ember-power-calendar-day--current-month {
          border-top: 1px solid $cell-border-color;
        }

        &[data-missing-days] {
          justify-content: flex-end;
          padding-left: 0;
        }
      }

      &:last-child {
        .ember-power-calendar-day--current-month {
          border-bottom: 1px solid $cell-border-color;
        }

        &[data-missing-days] {
          justify-content: flex-start;
          padding-right: 0;
        }
      }


      .ember-power-calendar-day--current-month {
        &:hover {
          position: relative;
          background: transparent!important;

          &:after {
            position: absolute;
            content: "";
            top: 0;
            left: 0;
            width: $cell-size;
            height: $cell-size;
            background-color: #d9f3fd;
            z-index: -1;
          }
        }

        &:disabled {
          &:hover {
            background-color: $disabled-background-color !important;
          }
        }

        &:first-child {
          position: relative;

          &:before {
            content: "";
            position: absolute;
            top: 0;
            left: -1px;
            height: $cell-size;
            width: 1px;
            background: $cell-border-color;
          }
        }
      }

      .ember-power-calendar-day--selected {
        background-color: #0083e4 !important;
        color: color("primary", "highlight") !important;

        &:hover {
          background-color: #0083e4 !important;
          color: color("primary", "highlight") !important;
        }
      }
    }
  }
}

.message {
  display: flex;
  align-items: flex-start;
  padding: 13px 22px 13px 13px;
  width: 100%;
  max-width: 275px;
  position: relative;
  margin-top: 16px;

  svg {
    width: 14px;
    height: auto;
    position: absolute;
    top: 16px;
  }

  p {
    @include font("IntervalNextBook");
    font-size: em(16px);
    line-height: 1.19;
    color: $text-main-color;
    padding-left: 24px;
  }

  &--information {
    background-color: #e0f5fd;
  }

  &--warning {
    background-color: #fdf8e7;
  }
}
