.uni-input-range {
  @include flex();

  input {
    pointer-events: none;
    width: initial;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  &-button {
    @include input-button();
    background-color: color('background');
    outline: none;
    will-change: background-color;

    &--disabled {
      color: rgba(136, 136, 136, .24) !important;

      &:hover {
        cursor: not-allowed;
        background-color: initial;
      }
    }
  }
}
