.uni-select-wrapper--use-alias {
  position: relative;

  select.uni-select {
    z-index: 2;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    &:focus + div.uni-select {
        border: 2px solid color('input', 'border-focus');
    }
  }

  div.uni-select {
    @include align-items-center();
    @include justify-content-center();
    @include flex();
    z-index: 1;
    line-height: 1;
  }
}

.uni-select {
  @include select();
}
