.uni-checkbox__wrapper {
  @include flex();
  @include align-items-center();
  width: 100%;
  cursor: pointer;

  @include breakpoint(small) {
    padding: 20px;
  }
}

.uni-checkbox {
  @include checkbox();
  will-change: border;

  &--checked {
    @include flex();
    @include align-items-center();
    @include justify-content-center();

    svg {
      display: block;
      fill: color("background");
      width: 14px;
      height: 11px;
    }
  }

  @include breakpoint(small) {
    label {
      max-width: 146px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
}
