.uni-textarea {
  margin-bottom: 46px;

  textarea {
    @include textarea();
    width: 100%;
  }

  &-counter {
    @include body();
    max-width: 388px;
    text-align: right;
    margin-top: 6px;
  }
}
