.uni-signup {
    @include signup();

    &__back svg {
      height: 30px;
      width: 30px;
    }

    &__text {
        line-height: 20px;
    }

    &__button {
        outline: none;

        &:hover {
            cursor: pointer;
        }
    }
}
