.uni-textarea {
  margin-bottom: 46px;
  position: relative;

  textarea {
    @include textarea();
    width: 100%;
    resize: none;
  }

  &-counter {
    @include body();
    color: color('text', 'subheader');
    max-width: 388px;
    text-align: right;
    margin-top: 6px;
  }
}
