.uni-info-card {
  @include modal();
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.4);

  &__wrapper {
    @include flex();
    @include flex-wrap();
    @include align-items-center();
    @include justify-content-center();
    position: relative;
    width: 100%;
    height: 100%;
    max-width: 523px;
    max-height: 322px;
  }

  &__close-button {
    background-color: transparent;
    -webkit-appearance: none;
    outline: 0;
    border: 0;
    right: 30px;
  }
}
