.uni-input-price {
  @include input-price();

  input {
    border-radius: 0 4px;
  }

  &--focused {
    border-color: color('input', 'border-focus');
  }

  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}
