.uni-mobile-number {
  @include mobile-number();
  margin-bottom: 46px;

  .uni-select {
    max-width: 275px;
    border-right: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
}
