.uni-step-card {
    @include step-card();

    @include breakpoint(small) {
        width: 100%;
    }

    .uni-button{
        margin-top: 20px;
        width: 100%;
        max-width: 100%;
    }

    .uni-progress-bar {
        position: relative;
        display: block;
        width: 100%;
        height: 8px;
        top: auto;
        left: auto;
        z-index: 0;
        margin: 15px 0;
    }
}
