.uni-mobile-number {
  @include mobile-number();
  margin-bottom: 46px;

  input {
    padding-right: 0;
  }

  .uni-select {
    position: relative;
    width: 100%;
    max-width: 275px;
    border-right: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  @include breakpoint(small) {
    &__wrapper {
      &:before,
      &:after {
        z-index: 10;
      }
    }

    & > div,
    input {
      width: 100px;
      max-width: 50%;
    }
  }
}
