.uni-auth-modal {
  @include modal();
  position: relative;
  border-radius: 0;
  max-width: 375px;
  width: 100%;

  &__close-button {
      svg,
      svg .st0 {
          fill: color('text', 'close');
      }
  }

  &--signup &__wrapper {
    padding: 24px;
    background-color: color('primary', 'highlight');
  }
}
