.uni-header {
    @include header();

    svg {
        width: 100%;
        height: auto;
    }

    &__nav__dropdown {
        z-index: 1;
    }

    a {
        position: relative;
        display: block;
        width: 100%;
        height: 100%;
        text-decoration: none;
        color: inherit;
    }
}
