.uni-info-box {
  @include info-box();

  &__wrapper svg {
    width: 37px;
    height: 37px;
    margin-bottom: 30px;
  }

  &__title {
    @include flex();
    @include align-items-center();
    font-size: em(22px);
    color: color("text", "header");
  }

  &-mobile-button svg {
    width: 20px;
  }

  &__content {
    font-size: em(16px);
    line-height: 1.39;
    color: #667485;
  }
}
