<div class="uni-info-box__wrapper">
  <div class="uni-info-box__title">
    {{inline-svg "assets/images/icons/info.svg"}}
    {{title}}
  </div>
  <div class="uni-info-box__hr"></div>
  <p class="uni-info-box__content">{{{content}}}</p>
</div>

<div class="uni-info-box__mobile-button">
  {{inline-svg "assets/images/icons/info.svg"}}
</div>
