{{input
  value=value
  placeholder=placeholder
  class="uni-input uni-input--bordered"}}

<ul class="options">
  {{#each optionsFiltered as |option|}}
    <li class="option" {{action "onSelected" option}}>{{yield option}}</li>
  {{/each}}
</ul>
