<div class="uni-signup {{if withEmail 'uni-signup--with-email'}}">
    <div class="uni-signup__title">{{title}}</div>

    {{yield}}

    <p class="uni-signup__text">By signing up, you agree with the Uniplaces’ <a href="">terms</a> and <a href="">conditions</a>.</p>

    <div class="uni-signup__aux">Already have an account? <a href="">Log in here</a></div>
</div>
