<div class="alert__wrapper">
  {{#if isSuccess}}
    {{inline-svg "icons/success-icon.svg"}}
  {{else}}
    {{inline-svg "icons/icon-warning.svg"}}
  {{/if}}

  <div class="alert__content">
    {{yield}}
  </div>
</div>
