{{#if label}}
  <label class="uni-datepicker-input__label">{{label}}</label>
{{/if}}

<div class="uni-calendar">
  {{uni-datepicker-input placeholder=placeholder showAbove=showAbove}}
  {{uni-datepicker-input placeholder=placeholder showAbove=showAbove}}
</div>
