{{#if withEmail}}
    <form class="uni-signup__step2">
        <input type="text" placeholder="First name">
        <input type="text" placeholder="Last name">
        <input type="email" placeholder="Email address">
        <input type="password" placeholder="Password (min 5 characters)">
        <button class="uni-button uni-button--primary">Signup</button>
    </form>
{{else}}
    <form class="uni-signup__step1">
        <button class="uni-signup__button uni-signup__button--facebook">
            {{inline-svg "icons/facebook.svg"}}
            Continue with facebook<br>
            <span class="uni-signup__button--facebook__small">we won't post anything without asking</span>
        </button>
        <button class="uni-signup__button uni-signup__button--google">
            {{inline-svg "icons/google.svg"}}
            Continue with Google
        </button>
        <button class="uni-signup__button uni-signup__button--email">
            {{inline-svg "icons/email.svg"}}
            Sign up with email
        </button>
    </form>
{{/if}}
