<li class="uni-button-dropdown__list__item" {{action onClick option.key}}>
  <div class="uni-button-dropdown__list__item--value">{{option.value}}</div>
  <div class="uni-button-dropdown__list__item--description">{{option.description}}</div>
</li>
