{{#if label}}
  <label class="uni-datepicker-input__label">{{label}}</label>
{{/if}}

{{input
  class="uni-input uni-input--bordered"
  value=formattedDate
  placeholder=placeholder
  click=(action "toggleDatepicker")
  readonly=true}}

{{#if showDatepicker}}
  {{uni-datepicker
  	selected=selected
  	onSelect=(action "onSelect")
  	center=center
  	onCenter=(action (mut center))
  	minDate=minDate
  	maxDate=maxDate}}
{{/if}}
