<div class="uni-header__nav__dropdown {{if isOpen 'uni-header__nav__dropdown--active'}}">
    <div role="button" class="uni-header__nav__button uni-header__nav__button--dropdown" {{action (toggle "isOpen" this)}}>
      {{selected}}
    </div>

    <ul class="uni-header__nav__dropdown__list">
      {{#each-in options as |k option|}}
        {{yield componentName option}}
      {{/each-in}}
    </ul>
</div>
