<div class="uni-info-box__wrapper">
  <div class="uni-info-box__title">
    {{inline-svg "icons/info.svg"}}
    {{{title}}}
  </div>
  <div class="uni-info-box__hr"></div>
  <p class="uni-info-box__content">{{yield}}</p>
</div>

<div class="uni-info-box__mobile-button">
  {{inline-svg "icons/info.svg"}}
</div>
