{{#if isOpen}}
  <div class="uni-info-card">
    <div class="uni-info-card__wrapper">
      <button class="uni-info-card__close-button" {{action (toggle "isOpen" this)}}>
        {{inline-svg "icons/close-modal.svg"}}
      </button>

      {{yield}}
    </div>
  </div>
{{/if}}
