<div class="uni-carrousel__container__item__thumbnail">{{thumbnail}}</div>
<div class="uni-carrousel__container__item__title">{{title}}</div>
<div class="uni-carrousel__container__item__content">{{content}}</div>
