{{#if label}}
  <label class="uni-datepicker-input__label">{{label}}</label>
{{/if}}

<div class="uni-calendar">
  {{uni-datepicker-input
    placeholder=placeholder
    showAbove=showAbove
    selected=startDate
    onSelected=(action "getDateAndOpenDatepicker")}}
  {{uni-datepicker-input
    placeholder=placeholder
    showAbove=showAbove
    selected=endDate
    onSelected=(action (mut endDate))}}
</div>
