{{#if label}}
  <label class="uni-datepicker-input__label">{{label}}</label>
{{/if}}

<div class="uni-datepicker-input__wrapper">
  {{input
    class="uni-input uni-input--bordered"
    value=formattedDate
    placeholder=placeholder
    click=(action "toggleDatepicker")}}

    <div class="uni-datepicker-input__wrapper__icon">
      {{svg-jar "calendar-stroke"}}
    </div>
</div>
{{#if showDatepicker}}
  {{uni-datepicker
  	selected=selected
  	onSelect=(action "onSelect")
    center=selected
  	onCenter=(action (mut center))
    onClose=(action (mut showDatepicker))
  	minDate=minDate
  	maxDate=maxDate
    disabledDates=disabledDates
    isFullScreen=media.isMobile
    showAbove=showAbove}}
{{/if}}
