{{#uni-input-container isChecked=isSelected}}
  <div class="uni-checkbox__wrapper">
    <div class="uni-checkbox {{if isSelected 'uni-checkbox--checked'}}"></div>
    <label for="">{{label}}</label>
  </div>
{{/uni-input-container}}
