{{#if isOpen}}
<div class="uni-auth-modal uni-auth-modal--signup">
  <div class="uni-auth-modal__wrapper">
    <div aria-role="button" class="uni-auth-modal__close-button" {{action (toggle "isOpen" this)}}>
      {{inline-svg "icons/close-modal.svg"}}
    </div>

    {{yield}}
  </div>
</div>
{{/if}}
